@charset "utf-8";
/* CSS Document */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
	
	background-image: url("../slike/Untitled-1.jpg");
    background-size: auto;
    background-repeat: repeat;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    background-color: #555;
    padding: 10px;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
}

img {
    margin: 10px;
    border-radius: 8px;
}

footer {
    text-align: center;
    margin-top: 30px;
